.root{
   -fx-font-familly: "Arial";
}

#categorie{
  -fx-background-position: center;
  -fx-background-image: url("images/burger.png");
}

#course{
  -fx-background-position: center;
  -fx-background-image: url("images/course.png");
}

#avancee{
  -fx-background-position: center;
  image-resolution: 1;
  -fx-background-image: url("images/avancee.png");
}

.listRecipe:hover{
  -fx-color: red;
  -fx-background-color: grey;
}

.listIngredients:hover{
  -fx-color: red;
  -fx-background-color: grey;
}

.recipePage {
    -fx-background-color: #bcaaa4;
    -fx-alignment: center;
}

.card {
    -fx-height: 30%;
    -fx-width: 20%;
}


.img{
    -fx-padding: 10;
    -fx-background-color: firebrick;
    -fx-background-radius: 5;
}

.h1{
    -fx-padding: 0 30 0 30;
    -fx-line-spacing: 10;
    -fx-background-color: #795548;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-underline: true;
    position: absolute;


    /* Mettre tout les titres en gras et trouver une taille convenable */
}
