#categorie{
  -fx-background-position: center;
  -fx-background-image: url("images/burger.png");
}

#course{
  -fx-background-position: center;
  -fx-background-image: url("images/course.png");
}

#avancee{
  -fx-background-position: center;
  image-resolution: 1;
  -fx-background-image: url("images/avancee.png");
}

.listRecipe:hover{
  -fx-color: red;
  -fx-background-color: grey;
}

.listIngredients:hover{
  -fx-color: red;
  -fx-background-color: grey;
}

.recipePage {
    -fx-background-color: #bcaaa4;
    -fx-alignment: center;
}

.cardTitle{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-font-family: "Arial Black";
}

.card {
    -fx-border-color: #795548;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-radius: 40;
}


.img{
    -fx-padding: 10;
    -fx-background-color: firebrick;
    -fx-border-radius: 40;
}

.h1{
    -fx-padding: 0 30 0 30;
    -fx-line-spacing: 10;
    -fx-background-color: #795548;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-underline: true;
    position: absolute;


    /* Mettre tout les titres en gras et trouver une taille convenable */
}
